$greyblack: rgb(49, 49, 49);

body {
	// font-family: "Varela Round", Helvetica, Arial, sans-serif;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.content {
	width: 1250px;
	margin-left: -260px;
}

// Contact Modal Contents
.avatar {
	width: 145px;
	border-radius: 30px;
	margin-left: 15px;
	// margin-left: 195px;
	padding-bottom: 10px;
}

.get-in-touch {
	text-align: center;
	padding-top: 10px;
}

.email {
	text-align: center;
}

.social-media-group {
	margin-left: 50px;
}

.social-media {
	display: inline-block;
	width: 80px;
	margin-left: 5px;
}

.wordpress {
	width:110px;
}

// My Project Showcase
.my-projects {
	width: 1250px;
	display: inline-block;
}

.final-project {
	width:500px;
	margin-left: -200px;
}
// .final-project {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: -55px;
// }
// .final-project:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.responsive-hw {
	width: 500px;
	margin-left: -200px;
}
// .responsive-hw {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: 165px;

// }
// .responsive-hw:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.git-smack {
	width: 500px;
	margin-left: -200px;
}
// .git-smack {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: 385px;
// }
// .git-smack:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.mobber {
	width: 500px;
	margin-left: -200px;
}
// .mobber:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.matchmaker {
	width: 500px;
	margin-left: -200px;
}

.project-titles {
	text-align: center;
	margin-left: -200px;
}

.irylogo {

}

a {
	color: #cd822b;
}
a:hover {
	color: #965000;
}
a:focus {
	color: #965000;
}
// a:active {
// 	color: #965000;
// }
// a:visited {
// 	color: #965000;
// }

.btn-primary {
	background-color: #cd822b;
	border-color: #854700
}
.btn-primary:hover {
	background-color: #965000;
	border-color: #854700
}
.btn-primary:active {
	background-color: #965000;
	border-color: #854700
}
.btn-primary:focus {
	background-color: #965000;
	border-color: #854700
}

// Slideshow
.slideshow {
  margin: 20px 0;
  text-align: center;
}
.slideshow ul {
  background-color: white;
  // background-color: #cd822b;
  border: 1px solid #000000;
  display: block;
  list-style: none outside none;
  margin: 10px auto;
  padding: 5px 0;
  width: 590px;
}
.slideshow li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #000000;
  margin: 5px;
  padding: 5px;
}
.slideshow li.active, .slideshow li:hover {
  cursor: pointer;
  background: none repeat scroll 0 0 #CCCCCC;
}
.slideshow li img {
  border: 1px solid #000000;
  margin: 5px;
  width: 80px;
  height: 53px;
}
.slideshow > img {
  border: 1px solid #000000;
  width: 800px;
  min-height: 300px;
}

.slide-list ul {
	width: 590px;
}

.modal-dialog {
	width: 1040px;
}

.jumbotron {
	padding-top: 0px;
	margin-top: 30px;
}

.landing-text {
	margin-top: 20px;
}

// Media Queries
@media (max-width: 1000px) {
	.modal-dialog {
		width: 800px;
	}

	.slideshow > img {
		width: 650px;
		min-height: 300px;
	}

}

@media (max-width: 900px) {
	.social-media-group {
		margin-left: 0px;
	}
}

@media (max-width: 765px) {
	.modal-dialog {
		width: 650px;
	}

	.slideshow > img {
		width: 500px;
		min-height: 300px;
	}

}

@media (max-width: 765px) {
	.modal-dialog {
		width: 450px;
	}
	.slideshow > img {
		width: 350px;
		min-height: 300px;
	}
	.slideshow ul {
		width: 385px;
	}
}

@media (max-width: 400px) {
	// .modal-dialog {
	// 	width: 450px;
	// }
	// .slideshow > img {
	// 	width: 350px;
	// 	min-height: 300px;
	// }
	.slideshow ul {
		width: 340px;
	}
	.modal-body {
		width: 380px;
	}
	.modal-footer {
	padding: 19px 60px 20px;
	}
}
